# Raw data
data/raw/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignments and large intermediates
*.bam
*.bai
*.sam
*.cram

# Conda / notebooks / temp
.ipynb_checkpoints/
*.tmp
*.log

# OS/editor
.DS_Store

# Generated indexes
*.fai

# Mapping QC
*.flagstat.txt
