# Raw data
data/raw/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignments and large intermediates
*.bam
*.bai
*.sam
*.cram

# Conda / notebooks / temp
.ipynb_checkpoints/
*.tmp
*.log

# OS/editor
.DS_Store

# Generated indexes
*.fai

# Mapping QC
*.flagstat.txt
*.ndb
*.nhr
*.nin
*.njs
*.not
*.nsq
*.ntf
*.nto

# Assembly intermediates
results/intermediate/assembly/

# Temporary reference FASTAs generated during consensus
results/intermediate/consensus/*.ref.fa
